# Next.js build output
.next
out

# Dependencies
node_modules

# Environment Variables
.env.local
.env.*.local
.env
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build Files
dist
dist-ssr
.cache
.vscode/ipch

# Test files
ref/

# Editor/IDE
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
**/*.tsbuildinfo

# Vercel
.vercel

# Debug files
debug*.logc

# References
references